*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}

.logo,.log-nav,.nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.why{
    display: inline-block;
    width: 22%;
    margin: 0 auto;
    border-radius: 3px;
    background-color: burlywood;
}