*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

@font-face{
    font-family: grift;
    src: url(assets/grift-regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: grift;
    src: url(assets/grift-bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: grift;
    src: url(assets/grift-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: grift;
    src: url(assets/grift-medium.ttf);
    font-weight: 500;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F2F3D9;
    font-family: grift, sans-serif;
    font-weight: 400;
    color: #F2F3D9;
    background-color: #0D1321;
}

/**Header Section**/

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

header{
    width: 100%;
    min-height: 50px;
    max-height: 80px;
    background-color: #0D1321;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

h1{
    margin-top: 25px;
}

h1 a{
    color: #F2F3D9;
    font-family: grift;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: -5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

h1 a:hover{
    color: #B7C3F3;
    font-family: grift;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: -5px;
    text-decoration: none;
}

.logo-nav, .nav-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.nav-bar{
    width: 25rem;
}

#logo{
    width: 35px;
    height: 35px;
    margin-left: -5px;
}

.nav-bar a{
    text-decoration: none;
    color: #F2F3D9;
    font-family: grift;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.nav-bar a:hover{
    text-decoration: none;
    color: #B7C3F3;
    font-family: grift;
    font-weight: 700;
    font-size: 1rem;
}

.log-nav{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.log-nav button{
    width: 5.5rem;
    padding: 5px 10px;
    border-radius: 50px;
    appearance: none;
    outline: none;
    border: none;
    
    font-family: grift;
    font-weight: 700;
    font-size: 1rem;
    color: #F2F3D9;
}

#log-btn{
    border: 2px solid #b7c3f3a1;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

#log-btn:hover{
    border: 2px solid #b7c3f3;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

#sign-btn{
    background-color: #8c271eb0;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sign-btn:hover{
    background-color: #8c271e;
}

.pointer:hover{
    cursor: pointer;
}

/**Hero Section**/

.intro{
    display: flex;
    justify-content: space-between;
}

#intro-div{
    max-width: 650px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-div h2{
    font-family: grift;
    font-weight: 700;
    font-size: 3.2rem;
}

#intro-div p{
    font-family: grift;
    font-weight: 400;
    font-size: 1.25rem;

    margin-top: -30px;
}

.intro-btn{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    margin-top: 10px;
}

.intro-btn button{
    width: 14rem;
    padding: 14px 15px;
    border-radius: 50px;
    appearance: none;
    outline: none;
    border: none;
    
    font-family: grift;
    font-weight: 700;
    font-size: 1.3rem;
    color: #F2F3D9;
}

#explore-btn{
    border: 2px solid #b7c3f3a1;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

#explore-btn:hover{
    border: 2px solid #b7c3f3;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

#contact-btn{
    background-color: #8c271eb0;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#contact-btn:hover{
    background-color: #8c271e;
}

.intro-img{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.intro-img img{
    max-width: 500px;
    max-height: 520px;
}

/**Company**/

.companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies-background{
    background-color: #f2f3d9;
    color: #0a0a0f;
    padding: 20px 0;
}

.companies-p{
    font-family: grift;
    font-weight: 700;
    font-size: 1.25rem;
}

.companies-list{
    font-family: grift;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: -15px;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.companies-logo{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.companies-logo img{
    min-width: 80px;
    max-width: 150px;
    min-height: 15px;
    max-height: 90px;
}

.read-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    font-family: grift;
    font-weight: 500;
    font-size: 1rem;
}

.reason-div{
    display: flex;
    justify-content: space-between;
}

.reason h2{
    font-family: grift;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.why h3{
    font-size: 1.4rem;
    font-family: grift;
    font-weight: 700;
    margin-bottom: -10px;
}

.why p{
    font-size: 1rem;
    font-family: grift;
    font-weight: 400;
}

.pad{
    padding: 40px 0;
}

.serious-pad{
    padding: 60px;
}

.why{
    max-width: 250px;
}

.img-div img{
    max-width: 50px;
}

.img-div{
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #b7c3f3;
    border-radius: 50%;
}

.review{
    background-color: #e5e9f3;
    color: #0a0a0f;
    font-family: grift;
    font-weight: 400;
}

.review-main-div{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.shop{
    min-height: 20rem;
}

.shop img{
    max-width: 300px;
    border: 1px solid black;
}

.review h2{
    font-family: grift;
    font-weight: 700;
    font-size: 2rem;
}

.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 40rem;
}

.shop{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1px black solid;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}